{% load i18n humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kontanthjælpsalliancen Kontanthjælpsberegner</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{{ STATIC_URL }}beregner/bootstrap.min.css" rel="stylesheet">

<style>

section {
    padding: 100px 0;
}

section h2 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

td.number_col,
th.number_col
{
  text-align: right;
  white-space: nowrap;
}

tr.result_row,
tr.result_row > td,
tr.result_row > th
{
  border-top: 2px solid #CCC;
  border-bottom: 2px solid #CCC;
}

</style>
{% block extra_style %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

{% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">KontanthjælpsAlliancen</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#beregner">Beregner</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#konsekvenser">Konsekvenser</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#forbrug">Forbrug</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#forklaring">Forklaring</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
{% endblock %}

{% block all_content %}
<div class="container">
<div class="col-md-6 col-md-offset-3">

{% block content %}
<section id="beregner">  

{% block beregner_indledning %}
  <h1 class="page-header">{% trans "Kontanthjælpsberegner" %}</h1>
  <div id="at_form"></div>
  <p class="lead">
    Her kan du være med til at bestemme, hvor meget en kontanthjælpsmodtager skal have af forskellige ydelser. Det virker yderst kompliceret, når man lytter til partierne i den offentlige debat. Det er det ikke. Det er faktisk meget nemt.
  </p>
{% endblock %}

  <form method="POST" action="{% block form_action %}/#at_form{% endblock %}" id="beregner_form">
  {% csrf_token %}
  {{ form.pdf }}
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>
          {{ form.column_enum.label_tag }}
        </td>
        <td colspan="3">
          {% include "beregner/includes/formfield.html" with field=form.column_enum hide_label=True hide_asterisk=True %}
        </td>
      </tr>
      <tr>
        <th></th>
        <th class="number_col">{% trans "Nuværende årlig sats" %}</th>
        <th class="number_col">{% trans "Ændring" %} &#177;</th>
        <th class="number_col">{% trans "Efter ændring" %}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{ form.kontanthj.label_tag }}
        </td>
        <td class="number_col">{{ form.current_levels.kontanthj|floatformat:0|intcomma|default:"-" }} kr.</td>
        <td style="text-align: right;">
          {% include "beregner/includes/formfield.html" with field=form.kontanthj hide_label=True hide_asterisk=True %}
        </td>
        <td class="number_col">{{ form.calc.kontanthj|floatformat:0|intcomma|default:"-" }} kr.</td>
      </tr>
      <tr>
        <td>
          {{ form.boligsikring.label_tag }}
        </td>
        <td class="number_col">{{ form.current_levels.boligsikring|floatformat:0|intcomma|default:"-" }} kr.</td>
        <td style="text-align: right;">
          {% include "beregner/includes/formfield.html" with field=form.boligsikring hide_label=True hide_asterisk=True %}
        </td>
        <td class="number_col">{{ form.calc.boligsikring|floatformat:0|intcomma|default:"-" }} kr.</td>
      </tr>
      <tr>
        <td>
          {{ form.boerneydelse.label_tag }}
        </td>
        <td class="number_col">{{ form.current_levels.boerneydelse|floatformat:0|intcomma|default:"-" }} kr.</td>
        <td style="text-align: right;">
          {% include "beregner/includes/formfield.html" with field=form.boerneydelse hide_label=True hide_asterisk=True %}
        </td>
        <td class="number_col">{{ form.calc.boerneydelse|floatformat:0|intcomma|default:"-" }} kr.</td>
      </tr>
      <tr>
        <td>
          {{ form.fripladstilskud.label_tag }}
        </td>
        <td class="number_col">{{ form.current_levels.fripladstilskud|floatformat:0|intcomma|default:"-" }} kr.</td>
        <td style="text-align: right;">
          {% include "beregner/includes/formfield.html" with field=form.fripladstilskud hide_label=True hide_asterisk=True %}
        </td>
        <td class="number_col">{{ form.calc.fripladstilskud|floatformat:0|intcomma|default:"-" }} kr.</td>
      </tr>
      
      <tr class="result_row">
        <th>Samlede ydelser:</th>
        <td class="number_col">{{ form.current_levels.samletydelse|floatformat:0|intcomma|default:"-" }} kr.</td>
        <td class="number_col"></td>
        <td class="number_col">{{ form.calc.samletydelse|floatformat:0|intcomma|default:"-" }} kr.</td>
      </tr>

    </tbody>
  </table>
  
  <p>Forklaring: Størrelsen af boligsikringen og fripladstilskuddet afhænger af kontanthjælpsydelsen, og derfor beskæres kontanthjælpsloftet ikke med det beløb, du skærer fra kontanthjælpsydelsen.
  </p>
  
  
  <hr>
  <button type="submit" onclick="$('#id_pdf').val('0'); this.form.submit()" class="btn btn-primary btn-lg">
    {% trans "Vis resultat" %}
  </button>
  {% block pdf_button %}
  <button type="button" onclick="$('#id_pdf').val('1'); this.form.submit()" class="btn btn-default btn-lg">
    {% trans "Print PDF" %}
  </button>
  {% endblock %}
  </form>
  <hr>
  <p>Udregningen sker på baggrund af en model tilrettelagt af <a href="http://ogtal.dk" target="_blank">Analyse & Tal</a>, et uafhængigt analysebureau. Modellen er forklaret nedenfor, du kan ligeledes hente kilden til beregningerne <a href="{{ STATIC_URL }}beregner/model.ods">her</a> (.ods-fil til LibreOffice).</p>
</section>

<section id="konsekvenser">
  <h2>Konsekvenser for familiens afsavn</h2>
  
  <p>I skemaet her kan du se, hvor stor en procentdel der lider forskellige materielle og sociale afsavn. I venstre kolonne ser du andelen af familier der lider de nævnte afsavn med den nuværende kontanthjælp. Den højre viser, hvordan det bliver med dit niveau.</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 50%">Familier der har undladt...</th>
        <th class="number_col" style="width: 25%; white-space: normal;">Med nuværende ydelser</th>
        <th class="number_col" style="width: 25%; white-space: normal;">Med dine ændringer</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>at fejre børnenes fødselsdag</td>
        <td class="number_col">{{ form.current_levels.foedselsdag|floatformat:1|default:"-" }} %</td>
        <td class="number_col">{{ form.calc.foedselsdag|floatformat:1|default:"-" }} %</td>
      </tr>
      <tr>
        <td>at spise frugt og grønt dagligt</td>
        <td class="number_col">{{ form.current_levels.frugt_og_groent|floatformat:1|default:"-" }} %</td>
        <td class="number_col">{{ form.calc.frugt_og_groent|floatformat:1|default:"-" }} %</td>
      </tr>
      <tr>
        <td>at gå til tandlægen</td>
        <td class="number_col">{{ form.current_levels.tandlaege|floatformat:1|default:"-" }} %</td>
        <td class="number_col">{{ form.calc.tandlaege|floatformat:1|default:"-" }} %</td>
      </tr>
      <tr>
        <td>at dyrke fritidsinteresser</td>
        <td class="number_col">{{ form.current_levels.fritid|floatformat:1|default:"-" }} %</td>
        <td class="number_col">{{ form.calc.fritid|floatformat:1|default:"-" }} %</td>
      </tr>
      <tr>
        <td>at holde ferie uden for hjemmet</td>
        <td class="number_col">{{ form.current_levels.ferie|floatformat:1|default:"-" }} %</td>
        <td class="number_col">{{ form.calc.ferie|floatformat:1|default:"-" }} %</td>
      </tr>
      <tr>
        <td>at købe tøj og fodtøj</td>
        <td class="number_col">{{ form.current_levels.toej|floatformat:1|default:"-" }} %</td>
        <td class="number_col">{{ form.calc.toej|floatformat:1|default:"-" }} %</td>
      </tr>
      <tr>
        <td>5 eller flere afsavn (ud af 20 mulige)</td>
        <td class="number_col">{{ form.current_levels.flere_afsavn|floatformat:1|default:"-" }} %</td>
        <td class="number_col">{{ form.calc.flere_afsavn|floatformat:1|default:"-" }} %</td>
      </tr>
    </tbody>
  </table>
</section>

<section id="forbrug">
  <h2>Konsekvenser for familiens forbrug</h2>
  <p>Det kan være svært at forstå, hvorfor en familie som den du har valgt lider afsavn. For at gøre det lettere kan du her sammenligne hvor mange penge familien har til forbrug med de penge, en lignende familie i gennemsnit bruger på forbrug ifølge Danmarks Statistiks Forbrugerundersøgelse.</p>


  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>Rådighedsbeløb blandt den valgte type familie som det er nu</td>
        <td class="number_col">{{ form.current_levels.raadighedsbeloeb|floatformat:0|intcomma|default:"-" }} kr</td>
      </tr>
      <tr>
        <td>Rådighedsbeløb blandt den valgte type med dit kontanthjælpsloft</td>
        <td class="number_col">{{ form.calc.raadighedsbeloeb|floatformat:0|intcomma|default:"-" }} kr</td>
      </tr>
      <tr>
        <td>Gennemsnitligt forbrug for alle familier af den slags</td>
        <td class="number_col">{{ form.current_levels.raadighedsbeloeb_avg|floatformat:0|intcomma|default:"-" }} kr</td>
      </tr>
    </tbody>
  </table>
  
  <p>Ved rådighedsbeløbet forstås de samlede ydelser fratrukket skat, boligudgifter, udgifter til daginstitution.</p>
  
</section>

<section id="forklaring">
  <h2>Forklaring af beregningerne</h2>
<p>Ved beregning af afsavn og rådighedsbeløb til forbrug er taget højde for:</p>
<dl>
  <dt>På indkomstsiden:</dt>
  <dd>Kontanthjælpsydelse, boligsikring, børneydelse, fripladstilskud til daginstitutioner og grøn check.</dd>
</dl>
<dl>
  <dt>På udgiftssiden:</dt>
  <dd>Skat, boligudgifter og institutionsplads.</dd>
</dl>
<p>Alle satser er taget fra ministeriernes nyeste logivning.</p>

<h3>Familierne</h3>
<p>Der er taget udgangspunkt i fem forskellige familietyper, der ligeledes anvendes hos Økonomi- og Indenrigsministeriet.</p>
<p>Det er forudsat, at kontanthjælpsmodtagerne bor i lejelejlighed på 65 m2 og et tillæg på 20 m2 pr. person ud over den første. Der er 1 værelse til hver person + 1 fællesrum, køkken og badeværelse. De har ikke indvendig og udvendig vedligeholdelsespligt.</p>

<p>Den månedlige husleje er forudsat at være 2.786 kr. for en person pr. måned, 2 personer: 3.903 kr. pr. måned, 4 personer: 5.135 pr. måned.</p>
<p>Varme, vand og el-udgifter er beregnet på baggrund af tal fra www.bolius.dk og Frederiksberg Forsyning. El-udgifter er forudsat at være 3575 kr. årligt pr. person. Vand og varme er omregnet fra en 100 m2 lejlighed med 7300 kr. i årlig udgift.</p>
<p>Det er forudsat at barnet går i vuggestue eller anden alderssvarende institution. Kommuneskat og kirkeskat er beregnet ud fra Københavns skattesatser. </p>

<h3>Afsavnsmålene</h3>
<p>Afsavnsmålene stammer blandt andet fra en undersøgelse under Københavns Universitet med forskningstitlen ”Konsekvenser af at have de laveste sociale ydelser som forsørgelsesgrundlag” (2009/2010). Resultaterne af denne er præsenteret i en række forskellige analyser, herunder ”Fattigdom, Afsavn og Coping” (Müller et al. 2015) og ”Afsavn og indkomst” (Hansen og Hansen, 2013). </p>
<p>Stigningen i afsavn er beregnet ud fra tallene for afsavn blandt familier med et ækvivaleret rådighedsbeløb, der er tilsvarende det for din valgte familietype efter dine nedskæringer. </p>

<h3>Forbrug</h3>
<p>Tallene for hvor mange penge en familie har til forbrug er beregnet ud fra ovenstående indkomster og udgifter for den valgte familietype. Tallet for det gennemsnitlige forbrug er udregnet på baggrund af <a href="http://www.dst.dk/da/Statistik/emner/forbrug/forbrugsundersoegelsen" target="_blank">Danmarks Statistiks Forbrugerundersøgelse</a>. Her er boligudgifter og udgifter til daginstitutioner fratrukket for at posterne stemmer overens med vores beregninger. </p>

</section>


<section>

<div style="text-align: center">

<p>
<a href="http://ogtal.dk/" target="_blank">
<img src="{{ STATIC_URL }}beregner/images/analyse_og_tal.jpg" alt="Analyse & Tal" style="margin: 0 auto;" />
</a>
</p>

<p>
Kontanthjælpsberegneren er lavet af det uafhængige analysebureau <a href="http://ogtal.dk/" target="_blank">Analyse & Tal</a> for <a href="http://www.kontanthjælpsalliancen.dk" target="_blank">Kontanthjælpalliancen</a>. Formålet er at oplyse om konsekvenserne af nedskæringer i kontanthjælpen.
</p>

</div>
</section>

{% endblock %}


</div>

</div>
{% endblock %}



<!-- jQuery -->
<script src="{{ STATIC_URL }}beregner/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ STATIC_URL }}beregner/bootstrap.min.js"></script>

<script type="text/javascript">
  $('document').ready( function() {
    $('#id_column_enum').change(function () {
      $('#beregner_form').submit();
    });
  });
</script>

</body>

</html>

